.sidebar {
  position: fixed;
  top: 0;
  width: 80%;
  right: 0;
  bottom: 0;
  background: var(--primaryColor);
  z-index: 10;
  opacity: 1;
  transition: var(--mainTransition);
}
.closeSidebar {
  transform: translateX(100%);
  opacity: 0;
}
.header {
  padding: 1.5rem;
  display: flex;
  justify-content: flex-end;
}
.movingHeader {
  padding: 1rem 1.5rem;
}

.closeBtn {
  z-index: 20;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  color: var(--mainWhite);
  outline-color: var(--primaryColor);
  background: transparent;
}
.closeIcon {
  font-size: 1.8rem;
}

.linksContainer {
  margin-top: -4.875rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link {
  display: block;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 0.2rem 3rem;
  margin: 0.5rem 0;
  text-align: center;
  color: var(--mainWhite);
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
  border-bottom: 0.2rem solid var(--mainWhite);
}
.link:hover,
.link:focus {
  transform: scale(1.2);
}
