.template {
  padding: 4rem 0;
  background: var(--mainGrey);
}

.template h3 {
  margin-top: 3rem;
}
.center {
  background: var(--offWhite);
  width: 90vw;
  padding: 2rem;
  margin: 0 auto;
}

.desc {
  line-height: 2;
  margin: 4rem 0;
}

.underline {
  height: 0.2rem;
  background: var(--primaryColor);
  margin-bottom: 1rem;
}

.info {
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
}

.publish {
  text-transform: capitalize;
  background: var(--primaryColor);
  color: var(--mainWhite);
  padding: 0.1rem 0.5rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

@media screen and (min-width: 1200px) {
  .center {
    width: 60vw;
    max-width: 1170vw;
  }
}
